
 @import 'components/banner.css';
 @import 'components/button.css';
 @import 'components/card.css';
 
 body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: teal;
 }

h1 {
  font-family: 'Cambay', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.nav-background {

}

.button-white-text {
  color: white;
}

.button-white-text:hover {
  color: white;
  text-decoration: none;
}

.banner {
  background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.6) 60%, rgba(0,0,0,0.6) 100%), url("https://images.unsplash.com/photo-1510414842594-a61c69b5ae57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  height: 60vh;
  width: 100vw;
  background-size: cover;
  color: white;
  background-position: center;
}

.banner-text {
  text-align: center;
  padding: 120px 24px 12px 24px;
}

.button-teal {
  text-decoration: none;
  background-color: teal;
  padding: 8px 32px;
  color: white;
  border-radius: 4%;
}

.button-teal:hover {
  background-color: #569e9e;
  transition-duration: .2s;
}

.flexed-grid {
  display: flex;
  justify-content: space-around;
  margin-top: 4vh;
}

/*.css-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  grid-gap: 16px;
}*/

.nav-link {
  color: grey;
}

.nav-link:hover {
  color: yellow;
}

.card-img-top {
  height: 160px;
}

.card {
  text-align: center;
}





